/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* .navbar {
  background-color: rgb(4, 20, 66);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} */

/*.navbar-brand {
  display: flex;
  align-items: center;
  text-align: left;
 /* background-image: url("../images/logodev.png");
}*/

/* img.navbar-logo {
  width: 10em;
  height: auto;
  /*background-image: url("../images/logodev.png");
}*/

/* .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 50;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.h2 {
  color: #fff;
  text-align: right;
} */